* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: rgba(220, 219, 219, 0.85);
    margin: 0;
    padding: 0;
}

img {
    height: 70px;
    width: 180px;
    position: absolute;
}

.img {
    height: 70px;
    width: 180px;
    position: absolute;
    margin-top: 10px;
    padding: 0;
}

.ul-top {
    background-color: #ee0000;
    margin: -17px;
    padding: 0;
    width: 115%;
    height: 100px;
    list-style: none;
}

.btn-search {
    position: absolute;
    margin-left: 1350px;
    margin-top: 20px;
    list-style: none;
}

.btn-souhait {
    margin-left: 1600px;
    position: absolute;
    margin-top: 20px;
    list-style: none;
}

.btn-log {
    margin-left: 1750px;
    position: absolute;
    margin-top: 20px;
    list-style: none;
}

.ul-left {
    background-color: #ee0000;
    margin: -17px;
    padding: 0;
    width: 10%;
    height: 1000%;
    list-style: none;
}

.btn-jeux {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
}

.btn-hard {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 55px;
}

.btn-online {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 30px;
}

.btn-store {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 35px;
}

.btn-assist {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.btn-news {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    padding-bottom: 1000px;
}

.btn-divers {
    list-style: none;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding-bottom: 1000px;
}

hr {
    width: 120px;
    position: absolute;
    background-color: black;
}

.img_search {
    height: 50px;
    width: 70px;
    margin-left: 310px;
    margin-top: 3px;
}

.img_souhait {
    height: 50px;
    width: 70px;
    margin-left: 135px;
    margin-top: 3px;
}

.img_log {
    height: 50px;
    width: 70px;
    margin-left: 50px;
    margin-top: 3px;
}

.img_jeux {
    height: 50px;
    width: 70px;
}

.img_hard {
    height: 50px;
    width: 70px;
    margin-left: 5px;
}

.img_online {
    height: 50px;
    width: 70px;
    margin-left: 30px;
}

.img_shop {
    height: 50px;
    width: 70px;
    margin-left: 25px;
}

.img_assist {
    height: 50px;
    width: 70px;
    margin-left: 10px;
}

.img_news {
    height: 50px;
    width: 70px;
    margin-left: -10px;
}

.p1 {
    color: white;
    margin-top: 55px;
    margin-left: 323px;
    font-size: 10px;
}

.p2 {
    color: white;
    font-size: 10px;
    margin-top: 55px;
    margin-left: 140px;
}

.p3 {
    color: white;
    font-size: 10px;
    margin-top: 55px;
    margin-left: 60px;
}

.p4 {
    color: white;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 15px;
}

.p5 {
    color: white;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 7px;
}

.p6 {
    color: white;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 1px;
    text-align: center;
}

.p7 {
    color: white;
    font-size: 17px;
    margin-left: px;
    margin-top: 50px;
}

.p8 {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: -5px;
}

.hr1 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}

.hr2 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}

.hr3 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}

.hr4 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}

.hr5 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}

.hr6 {
    height: 2px;
    width: 180px;
    background-color: brown;
    border: none;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 17px;
}
